  <div mat-dialog-content>
      <div [ngSwitch]="status"> 
        <div *ngSwitchCase="200">
          <h1 mat-dialog-title>Order #{{order.id}}</h1>
          <p>Pick Up:</p>
          <p>{{order.restaurant.name }}</p>
          <p>{{order.restaurant.streetAddress}}</p>
          <p>{{order.restaurant.city }}, {{order.restaurant.state}} {{order.restaurant.zipCode}}</p>
    
          <p>Drop Off:</p>
          <p>{{order.address.street}}</p>
          <p>{{order.address.city }}, {{order.address.state}} {{order.address.zipCode}}</p>
          <div mat-dialog-actions>
            <button mat-button (click)="onAccept()">Accept Order</button>
            <button mat-raised-button (click)="onDecline()">Decline Order</button>
          </div>
        </div>
        <div *ngSwitchCase="204">
          <p>There are no orders at this time.</p>
        </div>
        <div *ngSwitchCase="400">
          <p>{{order}}</p>
        </div>
        <div *ngSwitchCase="0">
          <p>Something Went Wrong. Please Reload Your Page And Try Again.</p>
        </div>
        <div *ngSwitchCase="-1">
          <p>Loading . . . </p>
        </div>
        <div *ngSwitchDefault>
          <p>Something Went Wrong. {{order}}</p>
        </div>
    </div>
  </div>

